<!DOCTYPE html>
<html lang="{% if site.language %}{{ site.language }}{% else %}en{% endif %}">
<head>
    <title>{{ site.first_name | append: ' '  }}{{ site.middle_names | append: ' ' }}{{ site.last_name }} | {{ page.title }}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="shortcut icon" href="{% include favicon.html %}"/>
    {% unless site.seo == true %}<meta name="robots" content="none">
    <meta name="robots" content="noarchive">
    {% endunless %}
    <meta name="robots" content="noodp">
</head>
<body>
{% include icons.svg %}
    <header>
{% include menu.html %}
    </header>