{%- capture menu-links -%}
  {%- for page in site.pages -%}
    {%- case page.layout -%}
      {%- when 'standard' or 'portfolio' -%}
        <li>
          <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
        </li>
    {%- endcase -%}
  {%- endfor -%}
  {%- if site.github -%}
    <li>
      <a href="{{ site.github | prepend: "https://github.com/" }}" rel="nofollow" target="_blank"><svg role="img"><use xlink:href="#icon-github"/></svg></a>
    </li>
  {%- endif -%}
{%- endcapture -%}

        <div class="menu">
            <div class="menu-icon">
              <svg role="img">
                <use xlink:href="#icon-plus"/>
              </svg>
            </div>
            <nav>
                <ul>
                  {{ menu-links }}
                </ul>
            </nav>
        </div>