html {
    min-width: $screen-small;
}

body {
    background-color: $page-colour;
    margin: 0 auto;
    max-width: $max-content-width;
    padding: $content-padding;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
address {
    color: $text-colour;
    margin: 0;
    font: {
        family: $body-font-stack;
        size: 1em;
        weight: normal;
    }
}

h1 {
    font: {
        family: $title-font-stack;
        size: $golden-ratio-3;
    }
    width: 10%;
}

h2 {
    border-bottom: 0.01em solid $decoration-colour;
    font-size: $golden-ratio-2;
    margin: 0.5em 0 0;
    padding-bottom: 0.1em;
}

h3 {
    font-size: 1.25em;
    line-height: 1.46em;
    margin: 0.5em 0 0;
}

h4 {
    line-height: 2em;
}

p {
    line-height: $golden-ratio-1;
    padding: 1em 0;
}

ul {
    padding: 0.5em $golden-ratio-1;

    li {
        line-height: $golden-ratio-1;
    
        ul {
               padding: 0 $golden-ratio-1;
        }
    }

}

address {
    border-left: $decoration-thickness solid $decoration-colour;
    font-style: normal;
    line-height: $golden-ratio-1;
    margin-left: $golden-ratio-1;
    padding-left: $golden-ratio-1;
}

a {
    border-bottom: $decoration-thickness dotted $decoration-colour;
    color: inherit;
    text-decoration: initial;

    &:hover {
        border-bottom: $decoration-thickness solid $decoration-colour;
    }
}

svg {
    height: 1em;
    vertical-align: middle;
    width: 1em;
}