body {
    font-size: $font-size-small;
    min-height: 100vh;
}

@media only screen and (min-width: $screen-small + 1) {
    body {
        font-size: $font-size-medium;
    }
}

@media only screen and (min-width: $screen-medium + 1) {
    body {
        font-size: $font-size-large;
        min-height: unset;
        padding: $golden-ratio-3;
    }
}

@media screen and (min-width: 955px) {
    html {
        padding: 4em 0;
    }
}