.menu {
    float: right;
    margin: -2em;
    position: relative;    
    z-index: 2;
    height: 5em;

    .menu-icon {
        float: right;
        display: block;
        text-align: right;
        transition: transform $transition-effect;
        z-index: 3;
        padding {
            right: 0.25em;
            top: 0.25em;
        }

        svg {
            width: 1em;
            height: 1em;
            font-size: 1.618em;
            line-height: 1.618em;
        }
    }

    &:hover {
        .menu-icon {
            transform: rotate(45deg);
        }
        nav {
            display: block;
        }
    }

    nav {
        display: none;
        position: absolute;
        transition: display $transition-effect;
        right: 0;
        padding: 0;
        margin-top: 2em;
        background-color: $page-colour;
        z-index: 2;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

        li {
            font-size: $golden-ratio-1;
            list-style-type: none;
            color: $decoration-colour;
            transition: color $transition-effect, fill $transition-effect;
            width: 100%;
        
            svg {
                fill: $decoration-colour;
                width: 1em;
                height: 1em;
            }

            &:hover svg {
                fill: $text-colour;
            }

            &:hover {
                color: $text-colour;
            }

            a {
                text-decoration: none;
                border-bottom: none;
            }
        }
    }
}