.menu {
    float: right;  
    height: 5em;
    margin: -2em;
    position: relative;  
    z-index: 2;

    .menu-icon {
        display: block;
        float: right;
        padding {
            right: 0.25em;
            top: 0.25em;
        }
        text-align: right;
        transition: transform $transition-effect;
        z-index: 3;

        svg {
            font-size: 1.618em;
        }
    }

    &:hover {
        .menu-icon {
            transform: rotate(45deg);
        }
        nav {
            display: block;
        }
    }

    nav {
        background-color: $page-colour;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        display: none;
        margin-top: 2em;
        padding: 0;
        position: absolute;
        right: 0;
        transition: display $transition-effect;
        z-index: 2;

        li {
            color: $decoration-colour;
            font-size: $golden-ratio-1;
            list-style-type: none;
            transition: color $transition-effect, fill $transition-effect;
            width: 100%;

            svg {
                fill: $decoration-colour;
            }

            a {
                border-bottom: none;
                text-decoration: none;
            }

            &:hover {
                color: $text-colour;

                svg {
                fill: $text-colour;
                }
            }
        }
    }
}