.portfolio {
    max-width: $max-content-width;

    article {
        max-height: $golden-ratio-10;
        overflow: hidden;
        position: relative;

        div {
            height: $golden-ratio-10;
            background: {
                position: center top;
                size: cover;
            }
            filter: grayscale(100%) brightness(50%);
            transition: filter $transition-effect;
        }

        div:not {
            color: $portfolio-text-color;
            font-size: 1em;
            margin: 0;
            padding: 0.5em;
        }

        h2 {
            background-color: invert($portfolio-text-color);
            border: none;
            bottom: 0;
            font-size: $golden-ratio-1;
            padding: 0;
            position: absolute;
            right: 0;
            text-align: right;
        }

        .employer {
            font-size: 1.3em;
            line-height: 2em;
            padding: 0;
        }

        p {
            padding-top: 0.5em;
            padding-bottom: 0em;

            &:last-child {
                margin-bottom: 0.5rem;
            }
        }

        svg {
            @supports (fill: $portfolio-text-color) {
                fill: $portfolio-text-color
            }
        }

        &:hover, &:focus {
            max-height: unset;
            transition: max-height $transition-effect;

            *:not(:first-child) {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }

            div {
                filter: unset;
            }

            h2 {
                background-color: initial;
                bottom: initial;
                line-height: 1.2em;
                position: initial;
                right: initial;
                text-align: initial;
            }
        }
    }
}