$remove-none: none !important;
$remove-0: 0 !important;

@media print {
    html {
        background: $remove-none;
        padding: $remove-0;
        font-size: 12px;
    }

    body {
        padding: $remove-0;
    }

    h2 {
        page-break-after: avoid;
    }

    article {
        page-break-inside: avoid;
    }

    a {
        border-bottom: $remove-none;
    }
    
    .menu {
        display: $remove-none;
    }

    .page-break {
        margin-top: 100px;
    }
}