{% include before_main.html %}
    <main>
        <h1>Portfolio</h1>
        {{ content }}
        <section class="portfolio-container">
            {% assign display_order = site.portfolio_items | sort: "display-order" %}
            {% for item in display_order %}
                <article class="portfolio-item" style="background-image:url(/images/{{ item.path | remove: '_portfolio_items/' | replace: '.md', '.jpg' }});">
                    <div class="portfolio-item-title">
                        <h2><a href="{{ item.link }}">{{ item.title }}</a></h2>
                    </div>
                    <div class="portfolio-item-overlay">
                        <div class="portfolio-item-content">
                            <h2><a href="{{ item.link }}">{{ item.title }}</a></h2>              
                            {% if item.employer %}<h3>{{ item.employer }}</h3>{% endif %}
                            {{ item.content }}
                            {% if item.link %}<p class="portfolio-item-link"><svg><use xlink:href="#icon-link"/></svg> <a href="{{ item.link }}">{% if item.link-text %}{{ item.link-text }}{% else %}{{ item.link }}{% endif %}</a></p>{% endif %}
                        </div>
                    </div>
                </article>
            {% endfor %}
        </section>
    </main>
{% include after_main.html %}