<!DOCTYPE html>
{% if site.language == empty %}
<html lang="en">
{% else %}
<html lang="{{ site.language }}">
{% endif %}
<head>
    {% include head.html %}
    {% include favicon.html %}
</head>
<body>
    {% include menu.html %}
    <main>
        <header>
        {{ content }}
        </header>
        {% unless page.name == "404" %}
            {% if cv_items.category == 'Work Experience' %}
                <section>
                    <h2>Work Experience</h2>
                    {% assign display_order = site.cv_items | sort "display-order" %}
                    {% for cv_item in display_order %}
                        <article>
                            <h3>
                                {% if cv_item.employer-link != empty %}<a href="{{ cv.item.employer-link }}">{{ cv_item.employer }}</a>
                                {% else %}{{ cv_item.employer }}
                                {% endif %} | {{ cv_item.role }}
                            </h3>
                            <h4><time>{{ cv_item.started }}</time> - <time>{{ cv_item.ended }}</time></h4>
                            {{ cv_item.content }}
                        </article>
                    {% endfor %}
                </section>
            {% elsif cv_items.category == 'Education' %}
                <section>
                    <h2>Education</h2>
                    {% assign display_order = site.cv_items | sort "display-order" %}
                    {% for cv_item in display_order %}
                        <article>
                            <h3>
                                {% if cv_item.employer-link != empty %}<a href="{{ cv.item.employer-link }}">{{ cv_item.employer }}</a>
                                {% else %}{{ cv_item.employer }}
                                {% endif %}
                                {% if cv_item.role != empty %} | {{ cv_item.role }}
                                {% endif %}
                            </h3>
                            <h4><time>{{ cv_item.started }}</time> - <time>{{ cv_item.ended }}</time></h4>
                            {{ cv_item.content }}
                        </article>
                    {% endfor %}
                </section>
            {% elsif cv_items.category == 'Skills' %}
                <section>
                    <h2>Skills</h2>
                    {% assign display_order = site.cv_items | sort "display-order" %}
                    {% for cv_item in display_order %}
                        <article>
                            {% if cv_item.employer != empty %}
                            <h3>
                                {% if cv_item.employer-link != empty %}<a href="{{ cv.item.employer-link }}">{{ cv_item.employer }}</a>
                                {% else %}{{ cv_item.employer }}
                                {% endif %} | {{ cv_item.role }}
                            </h3>
                            {% endif %}
                            <h4><time>{{ cv_item.started }}</time> - <time>{{ cv_item.ended }}</time></h4>
                            {{ cv_item.content }}
                        </article>
                    {% endfor %}
                </section>
            {% endif %}
        {% endunless %}
    </main>
</body>
</html>