{% include before_main.html %}
    <main>
        {%- capture full-name -%}
            {{ site.first_name | append: ' ' }}{{ site.last_name }}
        {%- endcapture -%}
        <h1>{{ full-name }}</h1>
        {{ content }}
        {%- unless page.name == "404" -%}
            {%- if site.email or site.telephone or site.address -%}
                <address>
                    {%- if site.email -%}
                        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    {%- endif -%}
                    {%- if site.telephone -%}
                        {{ site.telephone | prepend: '<br/>' }}
                    {%- endif -%}
                    {%- if site.address -%}
                        {{ site.address | prepend: '<br/>' }}
                    {%- endif -%}
                </address>
            {%- endif -%}
            {%- assign sorted_collections = site.collections | sort: 'position' -%}
            {%- for cv_section in sorted_collections -%}
                {%- case cv_section.label -%}
                    {%- when 'cv_work' -%}
                        <section>
                            <h2>Professional Experience</h2>
                            {%- assign display_order = site.cv_work | sort: 'display-order' -%}
                            {%- for job in display_order -%}
                                {%- capture job-employer-details -%}
                                    {%- if job.employer-link -%}
                                        <a href="{{ job.employer-link }}">{{ job.employer }}</a>
                                    {%- else -%}
                                        {{ job.employer }}
                                    {%- endif -%}
                                    {{ job.role | prepend: ' | ' }}
                                {%- endcapture -%}
                                <article>
                                    <h3>{{ job-employer-details }}</h3>
                                    <h4>{% include job_dates.html %}</h4>
                                    {{ job.content }}
                                </article>
                            {%- endfor -%}
                        </section>
                    {%- when 'cv_education' -%}
                        <section>
                            <h2>Education</h2>
                            {%- assign display_order = site.cv_education | sort: 'display-order' -%}
                            {%- for school in display_order -%}
                                <article>
                                    {%- capture school-employer-details -%}
                                        {%- if school.employer-link -%}
                                            <a href="{{ school.employer-link }}">{{ school.employer }}</a>
                                        {%- else -%}
                                            {{ school.employer }}
                                        {%- endif -%}
                                        {%- if school.role -%}
                                            {{ school.role | prepend: ' | ' }}
                                        {%- endif -%}
                                    {%- endcapture -%}
                                    {%- capture school-dates -%}
                                        <time datetime="{{ school.started }}">{{ school.started }}</time> - <time datetime="{{ school.ended }}">{{ school.ended }}</time>
                                    {%- endcapture -%}
                                    <h3>{{ school-employer-details }}</h3>
                                    <h4>{{ school-dates }}</h4>
                                    {{ school.content }}
                                </article>
                            {%- endfor -%}
                        </section>
                    {%- when 'cv_skills' -%}
                        <section>
                            <h2>Skills</h2>
                            {%- assign display_order = site.cv_skills | sort: 'display-order' -%}
                            {%- for skill in display_order -%}
                                <article>
                                    {%- if skill.employer -%}
                                        {%- capture skill-employer-details -%}
                                            {%- if skill.employer-link -%}
                                                <a href="{{ skill.employer-link }}">{{ skill.employer }}</a>
                                            {%- else -%}
                                                {{ skill.employer }}
                                            {%- endif -%}
                                            {{ skill.role | prepend: ' | ' }}
                                        {%- endcapture -%}
                                        <h3>{{ skill-employer-details }}</h3>
                                    {%- endif -%}
                                    {{ skill.content }}
                                </article>
                            {%- endfor -%}
                        </section>
                {%- endcase -%}
            {%- endfor -%}
{% include cv_structured_data.html %}
        {%- endunless -%}
    </main>
{% include after_main.html %}